{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="text-align: center; margin-top:150px; font-family: 'Times New Roman', serif;">
  <h2 style="font-size:1.9em; margin-bottom:50px;">Moraš prvo verifikovati email, kako bi promijenio šifru!!!</h2>
  <form method="post" style="font-size:1.2em;">
    {% csrf_token %}
    {{ form.email.label_tag }} {{ form.email }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    <button type="submit">Promijeni lozinku</button>
  </form>
</div>
{% endblock %}
