{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <form method="POST" action="{% url 'rest_framework:registration-view' %}">
          {% csrf_token %}

          <div>
            <label for="username">Korisničko ime:</label>
            <input type="text" name="username" id="username">
          </div>

          <div>
            <label for="email">Email adresa:</label>
            <input type="email" name="email" id="email">
          </div>

          <div>
            <label for="password">Lozinka:</label>
            <input type="password" name="password" id="password">
          </div>

          <div>
            <input type="submit" value="Registruj se">
          </div>
        </form>
    {% endblock %}
