{% extends 'base.html' %}
{% load static %}

{% block content %}
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>IP Addresses:</p>
<ul>
{% for ip_address in ip_addresses %}
<li>{{ ip_address }}</li>
{% endfor %}
</ul>
<p>Password: *****</p>
<p><a class="btn btn-primary" href="{% url 'MyApp:userdeleteview' pk=user.pk %}">Delete</a></p>
<p><a href="{% url 'MyApp:password_reset' %}">Reset Password</a></p>
<p><a href="{% url 'MyApp:mypassword_reset' %}">Reset My Password</a></p>
{% endblock %}
